src/main/resources/ocan/SubmissionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IAR_Submission" targetNamespace="http://iar.on.ca/definition" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://iar.on.ca/definition" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:types="http://iar.on.ca/types" xmlns:y="http://new.webservice.namespace">
  <wsdl:types>
    <xs:schema targetNamespace="http://iar.on.ca/types" xmlns:iar="http://iar.on.ca/types">
			<xs:include schemaLocation="SubmissionService?xsd=IARSubmissionDefinitions_v1.1.xsd"/>
			<xs:element name="SubmissionResult" type="iar:SubmissionResultType">
				<xs:annotation>
					<xs:documentation>result returned from web service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:complexType name="SubmissionResultType">
				<xs:annotation>
					<xs:documentation>Submission Result Type</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Result">
						<xs:annotation>
							<xs:documentation>true, if operation successfully executed</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:boolean">
									<xs:attribute name="transactionId" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>internal IAR tracking id</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element minOccurs="0" name="ErrorCode" type="xs:string"/>
					<xs:element minOccurs="0" name="DetailMessage" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="SubmissionResponse">
    <wsdl:part name="body" element="types:SubmissionResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubmissionInput">
    <wsdl:part name="body" element="types:IARSubmission">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SubmissionPortType">
    <wsdl:operation name="SubmitAssessment">
      <wsdl:input message="tns:SubmissionInput">
    </wsdl:input>
      <wsdl:output message="tns:SubmissionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubmissionBinding" type="tns:SubmissionPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SubmitAssessment">
      <soap:operation soapAction="http://iar.on.ca/SubmitAssessment"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubmissionService">
    <wsdl:port name="SubmissionPort" binding="tns:SubmissionBinding">
      <soap:address location="https://10.21.60.220:80/iar/services/SubmissionService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
