resources/survey.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.oscarehr.org/surveymodel" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:caisi="http://www.oscarehr.org/surveymodel" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Survey">
		<xs:annotation>
			<xs:documentation>Root node containing all information regarding survey data.  No formatting information should be included</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Introduction" minOccurs="0" type="caisi:introduction"/>
				<xs:element name="Body" type="caisi:body"/>
				<xs:element name="Closing" minOccurs="0" type="caisi:closing"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="name" type="xs:string" use="optional"/>	
			<xs:attribute name="version" type="xs:int" use="optional" default="0"/>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="introduction">	
		<xs:annotation>
			<xs:documentation>Introduction to survey.  Can be displayed on first page of questions, or as an individual page</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Text" type="xs:string">
				<xs:annotation>
					<xs:documentation>Text to appear as the introduction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OptionalSurvey" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allows the survey creator to specify a yes/no option to the introduction.  This allows a respondent to decide whether to answer the survey or not</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="YesText" type="xs:string">
							<xs:annotation>
								<xs:documentation>Text to appear as the positive reply (i.e. 'Yes', 'OK', 'Continue')</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NoText" type="xs:string">
							<xs:annotation>
								<xs:documentation>Text to appear as the negative reply (i.e. 'No', 'Cancel', 'Close')</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="IncludeOnFirstPage" type="xs:boolean" default="false"/>
		</xs:complexType>
		
		
		<xs:complexType name="closing">
			<xs:annotation>
				<xs:documentation>Closing text of a survey, usually a thank you page or privacy disclaimer.  Can be displayed on the last page of  questions or as an individual page</xs:documentation>
			</xs:annotation>
			
			<xs:sequence>
				<xs:element name="Text" type="xs:string">
					<xs:annotation>
						<xs:documentation>Text to appear as the closing </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="IncludeOnLastPage" type="xs:boolean" default="false"/>
		</xs:complexType>
	
		<xs:complexType name="body">
			<xs:annotation>
				<xs:documentation>Body of survey containing all the questions.  The body can be made of one or more pages.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="Page" maxOccurs="unbounded" type="caisi:page"/>
			</xs:sequence>
		</xs:complexType>
		
		
		<xs:complexType name="page">
			<xs:annotation>
				<xs:documentation>Each page can have a combination of one or more sections and questions. </xs:documentation>
			</xs:annotation>
		
			<xs:sequence>
				<xs:element name="Description" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Text to appear at the top of the page or within a tab</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="QContainer" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Questions with a page.  The  questions can grouped using a section.  A combination of grouped questions and non-grouped questions can be added to a page.  The order the questions and sections are displayed is the order they appear in the XML</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="Section" type="caisi:section"/>
							<xs:element name="Question" type="caisi:question"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>	

	<xs:complexType name="section">
		<xs:annotation>
			<xs:documentation>Structure describing a section containing one or more questions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="xs:string" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Text to appear at the top of a section</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Question" maxOccurs="unbounded" type="caisi:question"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required"/>
		<xs:attribute name="orientation" type="xs:string" use="optional"/>
		<xs:attribute name="bold" type="xs:string" use="optional"/>
		<xs:attribute name="underline" type="xs:string" use="optional"/>
		<xs:attribute name="italics" type="xs:string" use="optional"/>
		<xs:attribute name="color" type="xs:string" use="optional"/>
	</xs:complexType>
		
	<xs:complexType name="question">
		<xs:annotation>
			<xs:documentation>Structure describing a question</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="xs:string" nillable="false">
				<xs:annotation>
					<xs:documentation>The text of question</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>The type of question </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element ref="caisi:Date"/>
						<xs:element ref="caisi:Select"/>
						<xs:element ref="caisi:OpenEnded"/>
						<xs:element ref="caisi:Scale"/>
						<xs:element ref="caisi:Rank"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required"/>
		<xs:attribute name="mandatory" type="xs:boolean" default="true"/>
		<xs:attribute name="row" type="xs:int" use="optional"/>
		<xs:attribute name="column" type="xs:int" use="optional"/>
		<xs:attribute name="orientation" type="xs:string" use="optional"/>
		<xs:attribute name="data-link" type="xs:string" use="optional"/>
		<xs:attribute name="caisi-object" type="xs:string" use="optional"/>	
		<xs:attribute name="bold" type="xs:string" use="optional"/>
		<xs:attribute name="underline" type="xs:string" use="optional"/>
		<xs:attribute name="italics" type="xs:string" use="optional"/>
		<xs:attribute name="color" type="xs:string" use="optional"/>
		<xs:attribute name="unit" type="xs:string" use="optional"/>
	</xs:complexType>
	
	
	
	<!-- Question Types -->
	<xs:element name="Date" default="yyyy-mm-dd" nillable="false">
		<xs:annotation>
			<xs:documentation>A question allowing for the entry of a date in a predetermined format</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="yyyy-mm-dd"/>
				<xs:enumeration value="yyyy/mm/dd"/>
				<xs:enumeration value="dd/mm/yy"/>
				<xs:enumeration value="mm/dd/yy"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="Select">
		<xs:annotation>
			<xs:documentation>A question allowing for the selection of one or more predefined answers</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="caisi:PossibleAnswers"/>
				<xs:element name="OtherAnswer" type="xs:boolean" default="false">
					<xs:annotation>
						<xs:documentation>An open ended question allowing the respondent to enter a value that's not in the predefined answers</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="multiAnswer" type="xs:boolean" default="false"/>
			<xs:attribute name="multiRow" type="xs:boolean" default="true"/>
			<xs:attribute name="renderType" type="xs:string" />
			<xs:attribute name="orientation" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="OpenEnded">
		<xs:annotation>
			<xs:documentation>A question allowing for the entry of any alphanumeric characters</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="rows" type="xs:int" default="1"/>
			<xs:attribute name="cols" type="xs:int" default="20"/>			
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Scale">
		<xs:annotation>
			<xs:documentation>A question allowing for the selection of one value between a minimum and maximum range</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="minValue" nillable="false">
					<xs:annotation>
						<xs:documentation>The minimum value in a scale question</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="value" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:positiveInteger">
										<xs:minInclusive value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="description" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Short text describign the meaning of the min value</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="maxValue" nillable="false">
					<xs:annotation>
						<xs:documentation>The maximum value in a scale question</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="value" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:positiveInteger">
										<xs:minInclusive value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="description" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Short text describing the meaning of the max value</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="midValue" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Short text describing the meaning of the mid value</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Rank">
		<xs:annotation>
			<xs:documentation>A series of answers that should be ranked in a particular order</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="caisi:PossibleAnswers"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="PossibleAnswers">
		<xs:annotation>
			<xs:documentation>Answers that can be given for a particular question</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="answer" type="xs:string" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	
</xs:schema>
