src/main/axis2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ssha.ca/2005/HIAL/"
xmlns:s1="http://www.ssha.ca/2005/HIAL" xmlns:s="http://www.w3.org/2001/XMLSchema"
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
targetNamespace="http://www.ssha.ca/2005/HIAL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.ssha.ca/2005/HIAL/">
<s:import namespace="http://www.ssha.ca/2005/HIAL" />
<s:element name="OLISRequest">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" ref="s1:HIALRequest" />
</s:sequence>
</s:complexType>
</s:element>
<s:element name="OLISRequestResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" ref="s1:HIALResponse" />
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.ssha.ca/2005/HIAL">
<s:element name="HIALRequest" type="s1:HIALRequest" />
<s:complexType name="HIALRequest">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SignedRequest"
type="s1:HIALRequestSignedRequest" />
<s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ClientTransactionID"
type="s:string" />
<s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SubmitterID"
type="s:string" />
<s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SubmitterFullName"
type="s:string" />
<s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SubmitterRole"
type="s:string" />
<s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SubmitterOrganization"
type="s:string" />
</s:sequence>
</s:complexType>
<s:complexType name="HIALRequestSignedRequest">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SignedData"
type="s:string" />
</s:sequence>
</s:complexType>
<s:element name="HIALResponse" type="s1:HIALResponse" />
<s:complexType name="HIALResponse">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" form="unqualified" name="ClientTransactionID"
nillable="true" type="s:string" />
<s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SignedResponse"
type="s1:HIALResponseSignedResponse" />
</s:sequence>
</s:complexType>
<s:complexType name="HIALResponseSignedResponse">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SignedData"
type="s:string" />
</s:sequence>
</s:complexType>
</s:schema>
</wsdl:types>
<wsdl:message name="OLISRequestSoapIn">
<wsdl:part name="parameters" element="tns:OLISRequest" />
</wsdl:message>
<wsdl:message name="OLISRequestSoapOut">
<wsdl:part name="parameters" element="tns:OLISRequestResponse" />
</wsdl:message>
<wsdl:portType name="OLISSoap">
<wsdl:operation name="OLISRequest">
<wsdl:input message="tns:OLISRequestSoapIn" />
<wsdl:output message="tns:OLISRequestSoapOut" />
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="OLISSoap" type="tns:OLISSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
<wsdl:operation name="OLISRequest">
<soap:operation soapAction="http://www.ssha.ca/2005/HIAL/OLIS/OLISRequest" style="document"
/>
<wsdl:input>
<soap:body use="literal" />
</wsdl:input>
<wsdl:output>
<soap:body use="literal" />
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="OLIS">
<wsdl:port name="OLISSoap" binding="tns:OLISSoap">
<soap:address location="https://olis.ssha.ca/SSHA.OLIS.WebServices.ER7/Olis.asmx" />
</wsdl:port>
</wsdl:service>
</wsdl:definitions>

